# Кэш Python - содержит байт-код для ускорения
__pycache__/
# Cкомпилированные файлы Python - создается при импорте файлов
*.pyc
*.pyo

# Виртуальное окружение - установленные пакеты для запуска 
venv/
.venv/

# Переменные окружения - конфиги и секретные данные (пароли, ключи API)
.env

# Настройки редакторов
.idea/
.vscode/

# Системные файлы
.DS_Store

# Логи - создаются во время работы/тестирования
*.log

# Папки сборки - временные файлы, файлы для распространения
dist/
build/
*.egg-info/